/* Root variables */
:root {
    font-family: sans-serif;
    background-image: url(bg4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkcyan;
    height: 15vh;
    position: relative;
}

.sticky {
    position: sticky;
    top: 0px;
    z-index: 4;
}

#pic {
    margin-top: 105px;
    margin-left: 25px;
    width: 25%;
}

.navigation .left {
    margin-bottom: 100px;
    width: 50%;
}

.navigation .right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50%;
}

.navigation .right ul {
    display: flex;
    align-items: center;
    margin-right: 35px;
}

.navigation .right ul li {
    list-style: none;
    margin-right: 3.7rem;
}

.navigation .right ul li a {
    font-size: 21px;
    text-decoration: none;
    color: white;
    position: relative;
    transition: all .6s ease;
}

.navigation .right ul li a:hover {
    color: #bec6e2;
}

.navigation .right a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0px;
    bottom: -3px;
    background: rgb(255, 255, 255);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .6s ease-out;
}

.navigation .right a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* Button styles */
.btn {
    padding: 8px 16px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: all .6s ease;
    text-decoration: none;
}

.btn:hover {
    background: transparent;
    color: rgb(255, 255, 255);
}

/* Hamburger menu */
#hamburger {
    width: 30px;
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    right: 6rem;
    display: none;
}
#hamburger .line{
    height: 4px;
    border-radius: 2px;
    margin: 5px 0px;
    background-color: rgb(250, 250, 250);
}

/* Hero section styles */
.hero-section {
    background: darkcyan;
    height: 88.9vh;
}

.first-section {
    width: 100%;
    display: flex;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 60px;
}

.hero-left h3 {
    font-size: 2.6rem;
    color: #ffffff;
    margin: 3px 0px;
}

.hero-left h1 {
    font-size: 2.6rem;
    color: #ffffff;
    margin: 3px 0px;
}

.hero-left h5 {
    color: #ffffff;
    font-size: 2.6rem;
    margin-bottom: 1.3rem;
}

.hero-right {
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    pointer-events: none;
    background-color: white;
    clip-path: polygon(17% 0, 100% 0, 100% 100%, 0 100%);
}

.hero-right img {
    width: 55%;
}

.hero-sec-btn {
    border: 2px solid #021047;
    color: white;
    background-color: #021047;
    color: white;
    padding: 5px;
    margin-top: 32px;
    border-radius: 1px;
    font-size: 17px;
    cursor: pointer;
    z-index: 1;
}

.near-to-hero-sec-btn {
    position: relative;
    top: 10px;
    border: 2px solid #021047;
    right: 135px;
    padding: 9px 70px 7px 70px;
    pointer-events: none;
}

.hero-sec-btn:hover{
    transform: translate(8px, 9px);
    transition: all .3s ease-out;
}

#color {
    color: #ff61ff;
}

#element {
    color: #42eefa;
}

.icons {
    display: flex;
    margin-top: 1rem;
}

.icons a {
    text-decoration: none;
    color: darkslategrey;
}

.icon-child:hover {
    transform: rotate(360deg);
    transition: 0.4s ease;
}

.icon-child:nth-child(2):hover {
    transform: rotate(-360deg);
    transition: 0.4s ease;
}

.icon-child {
    width: 38px;
    height: 38px;
    background: #f2ebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    box-shadow: 0px 3px 4px darkslategrey;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 1.8rem;
}

/* About section styles */
.about-section {
    height: 140vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head-about {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
    font-size: 2.7rem;
}

#about-header {
    margin-top: 100px;
}

.webdevelopment {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 15px;
}

.webdevelopment img {
    margin-top: 1rem;
    border-radius: 5px;
    height: 25em;
}

.webdevelopment p {
    font-size: 1.2rem;
    margin: 20px 200px;
    padding: 20px;
    background-color: darkcyan;
    color: white;
    line-height: 25px;
    position: relative;
    border-color: dodgerblue slateblue steelblue mediumslateblue;
    border-style: solid;
}

.fa-brands,
.fa-solid {
    font-size: 21px;
}

/* Projects Section */
.project-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-main h1 {
    font-size: 2.7rem;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.head-first {
    display: flex;
    width: 92vw;
    height: 85vh;
    padding-top: 15px;
    margin-top: 10px;
}

.head-first .box-1 {
    width: 30%;
    margin: 0px 27px;
}

.head-first .box-1 p {
    line-height: 25px;
}

.head-first .box-1 img {
    width: 100%;
    border-radius: 10px;
    height: 42vh;
    transition: transform .3s ease-in;
    cursor: pointer;
}

.head-first .box-1 img:hover {
    transform: scale(1.05);
}

.project-btn {
    justify-content: space-evenly;
    margin-top: 10px;
    display: flex;
}

.first-sec-btn {
    border: 3px outset #021047;
    color: white;
    background-color: #021047;
    margin: 10px 17px 10px 0px;
    border-radius: 3px;
    cursor: pointer;
    padding: 8px 8px;
    font-size: 16px;
    z-index: 9;
}

.first-sec-btn:hover {
    background: transparent;
    background-color: darkturquoise;
    color: #021047;
    font-weight: bold;
}

#projects-header {
    margin-top: 100px;
}

/* Footer section styles */
#contact-header {
    margin-top: 100px;
}

.footer-section {
    width: 90%;
    margin: auto;
}

.footer-father {
    display: flex;
    margin: 42px 0px;
    justify-content: space-between;
}

.footer-father .footer-left {
    width: 37%;
}

.footer-father .footer-left h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.footer-father .footer-left p {
    line-height: 23px;
    font-size: 18px;
}

.footer-left .footer-icons {
    display: flex;
}

.footer-left .footer-icons li {
    padding-right: 23px;
    list-style: none;
    font-size: 29px;
    margin-top: 14px;
    cursor: pointer;
    color: darkblue;
}

.footer-father .footer-right {
    display: flex;
    flex-direction: column;
    width: 42%;
}

.footer-father .footer-right label {
    font-size: 18px;
}

.footer-father .footer-right input,
textarea {
    padding: 14px 5px;
    background: bisque;
    border: none;
    color: black;
    border-radius: 5px;
    margin: 8px 0px;
}

.footer-father .footer-right input,
textarea,
::placeholder {
    color: black;
}

.footer-btn {
    width: 20%;
    background: darkblue;
    color: white;
    letter-spacing: 2px;
    font-family: sans-serif;
}

.footer-btn:hover {
    width: 20%;
    background: transparent;
    border: 2px solid #021047;
    color: rgb(0, 0, 0);
}

.last-footer {
    height: 8vh;
    background-color: darkcyan;
    color: white;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.foot {
    color: white;
}
